@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
$base-color: #009688;

body {
    font-family: Roboto;
    background: #f5f5f5;
}

a {
    color: $base-color;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 5px;
}

.big-title {
    font-size: 4rem;
    font-weight: 200;
    margin: 4rem 0;
    text-align: center;
    color: #555;
}

.footer {
    text-align: center;
    color: #777;
    font-weight: 300;
    position: fixed;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
}
