.cloud-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.cloud {
  position: absolute;
  height: 10rem;
  width: 18rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bubble {
  position: absolute;
  border-radius: 100%;
  animation: scale 1.4s ease-in-out alternate infinite;
  box-shadow: 0 0 2rem rgba(150, 150, 255, 0.05);
  z-index: 2;
}

.bubble::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 100%;
}

.bubble:nth-child(1) {
  top: 4rem;
  left: 2rem;
  height: 4rem;
  width: 4rem;
  animation-delay: 0s;
}

.bubble:nth-child(2) {
  top: 2rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  animation-delay: 0.2s;
}

.bubble:nth-child(3) {
  top: 1rem;
  left: 5rem;
  height: 7rem;
  width: 7rem;
  animation-delay: 0.4s;
}

.bubble:nth-child(4) {
  top: 2rem;
  left: 9rem;
  height: 6rem;
  width: 6rem;
  animation-delay: 0.6s;
}

.bubble:nth-child(5) {
  top: 6rem;
  left: 13rem;
  height: 2rem;
  width: 2rem;
  animation-delay: 0.8s;
}

.bubble:nth-child(6) {
  top: 4.5rem;
  left: 9rem;
  height: 4rem;
  width: 4rem;
  animation-delay: 1s;
}

.bubble:nth-child(7) {
  top: 4rem;
  left: 4rem;
  height: 4rem;
  width: 4rem;
  animation-delay: 1.2s;
}

.sun {
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background: rgb(255, 229, 2);
  z-index: 1;
  transition: top 0.75s, left 0.75s;
  top: 0rem;
  left: 2rem;
  animation: sunflare 2s ease-out infinite, move 2.5s 0.75s ease-in-out alternate infinite;
  box-shadow: 0 0 0rem 1rem rgba(255, 187, 2, 0.25);
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.4rem);
  }
}

@keyframes sunflare {
  from {
    box-shadow: 0 0 0rem 0rem rgba(255, 187, 2, 0.25);
  }
  to {
    box-shadow: 0 0 0rem 1rem rgba(255, 187, 2, 0);
  }
}
