@media (min-width: 480px) {
  .weather-list-item {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 768px) {
  .weather-list-item {
    width: calc(33.3333% - 1rem);
  }
  .weather-detail-primary {
    width: 50%;
  }

  .weather-detail-info {
    width: 50%;
  }

  .weather-detail-days {
    width: 100%;
  }
  .weather-detail-days-item {
    width: calc(20% - 1rem);
  }

  .favorite-city-primary-img-box {
    width: 10%;
  }

  .favorite-city-primary {
    width: 20%;
  }

  .favorite-city-days {
    width: 70%;
  }
  .favorite-city-days-item {
    width: 33.33%;
  }
}

@media (min-width: 992px) {
  .weather-list-item {
    width: calc(25% - 1rem);
  }
  .weather-detail-primary {
    width: 17%;
    margin-bottom: 0;
  }

  .weather-detail-info {
    width: 18%;
  }

  .weather-detail-days {
    width: 65%;
  }

  .favorite-city-primary-img-box {
    width: 10%;
  }

  .favorite-city-primary {
    width: 20%;
  }

  .favorite-city-days {
    width: 70%;
  }
  .favorite-city-days-item {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .weather-list-item {
    width: calc(20% - 1rem);
  }
  .weather-detail-primary {
    width: 17%;
    margin-bottom: 0;
  }

  .weather-detail-info {
    width: 18%;
  }

  .weather-detail-days {
    width: 65%;
  }
}
