$weather-bg-color: #313131;

.weather {
  background: #fff;
  border-radius: 1rem;
}

.weather-detail {
  padding: 1rem;
  background: $weather-bg-color;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.weather-detail-primary {
  width: 20%;
  text-align: center;
}

.weather-detail-info {
  width: 15%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.weather-detail-days {
  display: flex;
  width: 65%;
  flex-wrap: wrap;
}

.weather-detail-primary-img {
  margin-top: -1rem;
}

.weather-detail-primary-state {
  font-size: 2rem;
  font-weight: 200;
  margin-top: -1rem;
}

.weather-detail-days-item {
  width: calc(20% - 1rem);
  margin: 0.5rem;
  text-align: center;
}
.weather-detail-days-item-name {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  color: #ddd;
}
.weather-detail-days-item-info {
  display: flex;
  align-items: center;
}

.weather-detail-body {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.weather-detail-body-item {
  display: flex;
  margin-top: 0.6rem;
  padding-top: 0.4rem;
  background: #fff;
  flex-direction: column;
  width: 3.5rem;
  text-align: center;
  justify-content: center;
  font-weight: 300;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid #eee;
}

img.weather-detail-body-item-img {
  margin: -0.4rem 0;
}